<div class="row">
    <div class="threecol"></div>
    <div class="sixcol">
        <div class="page-header">
            <h2 class="widget widget-header">Administration login</h2>
        </div>
        <form method="post" role="form" action="#">
            <fieldset class="widget widget-content widget-last">
                <div class="form-group">
                    <label for="login_email">Email</label>
                    <input class="form-control" id="login_email" type="text">
                </div>
                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input class="form-control" id="login_password" type="text"></input>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="login_remember_me" checked="checked">
                        Remember me
                    </label>
                </div>
            </fieldset>
            <div class="form-action">
                <input class="btn btn-blue btn-large" type="submit" value="Login">
            </div>
        </form>
    </div>
    <div class="threecol last"></div>
</div>