<ul id="main-menu">
    <li>
        <a href="index.html" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <i class="icon-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="category-index.html" data-toggle="tooltip" data-placement="right" title="Categories">
            <i class="icon-lab"></i>
            <span>Categories</span>
        </a>
    </li>
    <li>
        <a href="product-index.html" data-toggle="tooltip" data-placement="right" title="Products">
            <i class="fa fa-th-large"></i>
            <span>Products</span>
        </a>
    </li>
    <li>
        <a href="accessory-index.html" data-toggle="tooltip" data-placement="right" title="Accessories">
            <i class="icon-power-cord"></i>
            <span>Accessories</span>
        </a>
    </li>
    <li>
        <a href="order-index.html" data-toggle="tooltip" data-placement="right" title="Orders">
            <i class="icon-box-add"></i>
            <span>Orders</span>
        </a>
    </li>
    <li>
        <a href="delivery-services-index.html" data-toggle="tooltip" data-placement="right" title="Shippings">
            <i class="icon-airplane"></i>
            <span>Shippings</span>
        </a>
    </li>
</ul>

<ul id="secondary-menu">
    <li>
        <a href="pages-index.html" data-toggle="tooltip" data-placement="right" title="Pages">
            <i class="icon-file-2"></i>
            <span>Pages</span>
        </a>
    </li>
    <li>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Storefront">
            <i class="icon-screen"></i>
            <span>Storefront</span>
        </a>
    </li>
    <li>
        <a href="settings.html" data-toggle="tooltip" data-placement="right" title="Settings">
            <i class="icon-cog"></i>
            <span>Settings</span>
        </a>
    </li>
</ul>
<div id="extend-sidebar">
    <i class="icon-forward-3"></i>
    <span>Close</span>
</div>