<header>
    <div id="logo" class="desktop">
        <img src="img/tomdallimore.png" />
    </div>
    <label class="mobile" id="trigger" href="#">
        <i class="icon-menu-2"></i>
    </label> 
    <div class="dropdown user-menu">
        <img src="img/tomdallimore_profile.jpg" data-toggle="dropdown" height="40" width="40"/>
        <i class="fa fa-caret-up"></i>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#"><i class="icon-user"></i> Profile</a></li>
            <li><a href="#"><i class="icon-switch"></i> Logout</a></li>
        </ul>
    </div>
</header>