<nav id="mp-menu" class="mp-menu">
  <div class="mp-level">
    <ul>
      <li>
        <a href="/">
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="category-index.html">
          <i class="icon-lab"></i>
          <span>Categories</span>
        </a>
      </li>
      <li>
        <a href="product-index.html">
          <i class="fa fa-th-large"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a href="accessory-index.html">
          <i class="icon-power-cord"></i>
          <span>Accessories</span>
        </a>
      </li>
      <li>
        <a href="order-index.html">
          <i class="icon-box-add"></i>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="delivery-services-index.html">
          <i class="icon-airplane"></i>
          <span>Shipping</span>
        </a>
      </li>
    </ul>
    <ul id="mobile-secondary-menu">
      <li>
        <a href="shipping-index.html">
          <i class="icon-file-2"></i>
          <span>Pages</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-screen"></i>
          <span>Storefront</span>
        </a>
      </li>
      <li>
        <a href="zone-index.html">
          <i class="icon-cog"></i>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

