<nav id="mp-menu" class="mp-menu">
  <div class="mp-level">
    <ul>
      <li>
        <a href="category-index.html">
          <i class="icon-lab"></i>
          <span>Categories</span>
        </a>
      </li>
      <li>
        <a href="product-index.html">
          <i class="icon-drawer"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a href="accessory-index.html">
          <i class="icon-power-cord"></i>
          <span>Accessories</span>
        </a>
      </li>
      <li>
        <a href="order-index.html">
          <i class="icon-cart"></i>
          <span>Orders</span>
        </a>
      </li>
      <li>
        <a href="shipping-index.html">
          <i class="icon-airplane"></i>
          <span>Shipping</span>
        </a>
      </li>
      <li>
        <a href="zone-index.html">
          <i class="icon-location"></i>
          <span>Zones</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

