<nav class="pagination">
    <li class="prev">
        <a href="#">
            <i class="fa fa-angle-left"></i>
        </a>
    </li>
    <li class="page active">
        <a href="#">1</a>
    </li>
    <li class="page">
        <a href="#">2</a>
    </li>
    <li class="page">
        <a href="#">3</a>
    </li>
    <li class="page">
        <a href="#">4</a>
    </li>
    <li class="next">
        <a href="#">
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
</nav>  
