* 
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
*, *:before, *:after 
{
    @include box-sizing(border-box);
}
body 
{
    font-family: 'Roboto', sans-serif;
    font-size:0.9em;
    background-color:#f0f0f0;
    color:$dark-grey;
    line-height:1.3em;
}
.mix
{
    display: none;
}
.page-header 
{
        h2 
        {
            margin-top:0px;
            font-weight:500;
            font-size:1.4em;
        }
        .btn 
        {
            float:right;
            border-left:10px solid #f0f0f0;
        }
}
.main 
{
    margin:60px 0 0 60px;
    padding:20px 0 20px;
}
.mobile 
{
    display:none;
}
.desktop 
{
    display: block;
} 
.all-wrapper {
    position: relative;
    overflow: hidden;
}
.datepicker 
{
    right:auto !important;
    z-index:1051 !important;

}
a 
{
    text-decoration: none;
    color:$dark-grey;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout:none;
        &:hover 
        {
            color:$blue;
        }
}
p 
{
    margin:0 0 10px;
}
.page-header 
{
    h2 
    {
        margin-top:0px;
    }
    .btn 
    {
        float:right;
        border-left:10px solid #f0f0f0;
    }
}
.pull-right 
{
    float:right;
}
input[type=text], textarea 
{
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    border-radius: 0;
}
input[type=checkbox]
{
    cursor: pointer;
}
