.btn {
    padding:14px 14px;
    color:#fff;
    font-weight:bold;
    font-size:1.1em;
    display: inline-block;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:0;
    border:0;
        &.btn-green {
            background-color:$green;
        }
        &.btn-blue {
            background-color:$blue;
        }
        i {
            margin-right: 5px;
            vertical-align: middle;
        }
        &.btn-normal {
            height:50px;
        }
        &:hover {
            color:#fff;
        }
}