.btn {
    padding:12px;
    color:#fff;
    font-weight:bold;
    font-size:1.1em;
    display: inline-block;
    white-space: nowrap;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline:0;
    border:0;
    text-align:center;
        &.btn-green {
            background-color:$green;
        }
        &.btn-blue {
            background-color:$blue;
        }
        &.btn-orange {
            background-color:$orange;
        }
        &.btn-yellow {
            background-color:$yellow;
        }
        &.btn-cyan {
            background-color:$cyan;
        }
        i {
            vertical-align: middle;
        }
        &.btn-normal {
            height:50px;
        }
        &:hover {
            color:#fff;
        }
}