form {
    fieldset {
        border:0;
        margin:0;

        &.attachment-form 
        {

            input[type="radio"]
            {
                display: none;
            }
        }
    }
    select {
        border:1px solid $light-grey !important;
    }
    .form-group {
        margin-bottom:15px;
            label {
                display: inline-block;
                margin-bottom:7px;
                font-weight: bold;
            }
            textarea.form-control {
                height:auto;
                resize:none;
            }
            &.form-last {
                margin:0;
            }
    }
    table {
        margin-bottom: 15px;
    }
    .checkbox {
        display: inline-block;
        margin-right: 25px;
        padding:3px 0;
        label {
            display: inline;
            margin-bottom: 0;
            cursor: pointer;
            font-weight: bold;
        }
        input {
            margin-right:5px;
        }
        &.blocked {
            display: block;
        }
    }
    .form-action {
        padding:15px;
        background-color:rgba(208,208,208,0.5);
        overflow: hidden;
            input {
                float:right;
            }
    }
    .attachments {
        position: relative;
        display: inline-block;
        margin:10px;
        height:168px;
        width:140px;
        cursor:pointer; 
        @include box-sizing(border-box);
        @include transition-property(background-color);
        @include transition-duration(1s);
        @include transition-timing-function(linear);
        overflow: hidden;
            a {
                float:left;
                color:white;
                width:70px;
            }
            img {
                display: block;
            }
            &.default img {
                border:3px solid $blue;
            }
    }
}
.form-control {
    display:block;
    width:100%;
    height:38px;
    padding:8px 10px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color:rgba(208,208,208,0.5);
    border:0px;
    outline:0;
    @include box-sizing(border-box);

    + .gross
    {
        display: block;
        text-align: left;
    }
}
.form-select
{
    display: block;
    height: 40px;
    background-color:#fff;
    line-height: 1.428571429;
    vertical-align: middle;
    border:0px;
    outline:0;
    padding:10px 10px;
    width:170px;
}