.label {
    display: inline;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include box-sizing(border-box);
        &.label-orange {
            background-color: $orange;
        }
        &.label-green {
            background-color: $green;
        }
        &.label-blue {
            background-color: $blue;
        }
        &.label-red {
            background-color:$red;
        }
        &.label-grey {
            background-color: $light-grey;
            color:$dark-grey;
        }
        &.label-small {
            padding: .2em .6em .3em;
            font-size: 75%;
        }
        &.label-large {
            padding: .5em .8em;
            font-size: 90%;
        }

}