@media handheld, only screen and (max-width: 770px) 
{
    body
    {
        form
        {
            .threecol
            {
                display: none;
            }
            .ninecol
            {
                padding-left:0 !important;
                padding-right:0 !important;
            }
            .form-action
            {
                margin-bottom: 0px;
            }
        }
        .widget-content
        {
            .twelvecol, .fourcol
            {
                padding:0;
            }
        }
    }
}
@media handheld, only screen and (max-width: 700px) 
{
    body 
    {
        .mobile 
        {
            display:block;
        }
        .desktop 
        {
            display:none;
        }
        .sidebar, .logo 
        {
            display:none;
        }
        .main 
        {
            margin:60px 0 0;
        }      
    }
}
@media handheld, only screen and (max-width: 530px) 
{
    body
    {
        .widget-controls span
        {
            display: none;
        }
        .widget-control-margin
        {
            margin-right: 0px !important;

        }
    }

}
@media handheld, only screen and (max-width: 470px) 
{
    body 
    {
        table .mob 
        {
            display: block;
        }
    }
}