#sidebar {
    position: fixed;
    width:60px;
    top:0px;
    bottom:0px;
    margin-top:60px;
    background-color:$dark-grey; //28292d
        ul {
            margin-top:20px;
            padding:0px;
            border-top: 1px solid #0d1012;
            border-bottom:1px solid #3b444c;
            list-style-type: none;
                li {
                    text-align:center;     
                    border-bottom: 1px solid #0d1012;
                    border-top:1px solid #3b444c;
                        i {
                            font-size:1.2em;
                            vertical-align:middle;
                        }
                        a {
                            display:block;
                            padding:10px 0;
                        }
                        &.current {
                            background-color: #0d1012;
                            border-top:0;
                        }
                        &:first-child {
                            color:$blue;
                                a {
                                    color:$blue;
                                        &:hover {
                                            color: $blue;
                                        }
                                }
                        }
                        &:nth-child(2) {
                            color:$purple;
                                a {
                                    color:$purple;
                                        &:hover {
                                            color: $purple;
                                        }
                                }
                        }
                        &:nth-child(3) {
                            color:$green;
                                a {
                                    color:$green;
                                        &:hover {
                                            color: $green;
                                        }
                                }
                        }
                        &:nth-child(4) {
                            color:$orange;
                                a {
                                    color:$orange;
                                        &:hover {
                                            color: $orange;
                                        }
                                }
                        }
                        &:nth-child(5) {
                            color:$cyan;
                                a {
                                    color:$cyan;
                                        &:hover {
                                            color: $cyan;
                                        }
                                }
                        }
                        &:last-child {
                            color:$yellow;
                                a {
                                    color:$yellow;
                                        &:hover {
                                            color: $yellow;
                                        }
                                }
                        }
                }
        }
}
#slide-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: $menuOffset;
    z-index: 0;
    background: #2f363d;
    overflow: auto;
    opacity: 0;
    -webkit-transition: opacity 0s 0s;
        ul {
            -webkit-overflow-scrolling: touch;
            padding:0;
            margin:0;
            border-bottom:1px solid #3b444c;
                li {
                    border-bottom: 1px solid #0d1012;
                    border-top:1px solid #3b444c;
                        i {
                            margin:0 7px 0 10px;
                        }
                        a {
                            padding:10px 0;
                            display: block;
                        }
                        span {
                            text-shadow: 0 1px 0 #0d1012;
                            font-size:0.9em;
                            color:#f0f0f0;
                        }
                        &.current {
                            background-color: #0d1012;
                            color:#fff;
                            border-top:0;
                        }
                        &:first-child i {
                            color:$blue;
                        }
                        &:nth-child(2) i {
                            color:$purple;
                        }
                        &:nth-child(3) i {
                            color:$green;
                        }
                        &:nth-child(4) i {
                            color:$orange;
                        }
                        &:nth-child(5) i {
                            color:$cyan;
                        }
                        &:last-child i {
                            color:$yellow;
                        }
                }
        }
}