.open-sidebar
{
    #sidebar
    {
        width: auto;

        ul
        {
            li
            {
                padding-right: 20px;
                text-align: left;

                i
                {
                    width: 60px;
                    display: inline-block;
                    text-align: center;
                }

                span
                {
                    display: inline-block;
                }
            }
        }

        #extend-sidebar
        {
            text-align: left;
            overflow: hidden;

            i, span
            {
                float:left;
            }
            i
            {
                text-align: center;

                &:before
                {
                    content: "\e10d";
                    right: 2px;
                    position: relative;
                }
            }
            span
            {
                display: inline-block;
            }
        }
    }
}

#sidebar 
{
    position: fixed;
    width:60px;
    top:0px;
    bottom:0px;
    margin-top:60px;
    background-color:$dark-grey; //28292d
    z-index:1038;   
    min-height: 475px;

        span
        {
            display: none;
        }

        ul 
        {
            margin-top:20px;
            padding:0px;
            // border-top: 1px solid rgba(13, 16, 18, 0.4);
            // border-bottom:1px solid #3b444c;
            list-style-type: none;
                li 
                {
                    text-align:center;     
                    // border-bottom: 1px solid rgba(13, 16, 18, 0.4);
                        i 
                        {
                            font-size:1.2em;
                            vertical-align:middle;
                        }
                        a 
                        {
                            display:block;
                            padding:10px 0;
                        }
                        &.current, &:hover
                        {
                            background-color: rgba(13, 16, 18, 0.4);
                        }
                        &:first-child 
                        {
                            color:$blue;
                                a 
                                {
                                    color:$blue;
                                        &:hover 
                                        {
                                            color: $blue;
                                        }
                                }
                        }
                        &:nth-child(2) 
                        {
                            color:$purple;
                                a 
                                {
                                    color:$purple;
                                        &:hover 
                                        {
                                            color: $purple;
                                        }
                                }
                        }
                        &:nth-child(3) 
                        {
                            color:$green;
                                a 
                                {
                                    color:$green;
                                        &:hover 
                                        {
                                            color: $green;
                                        }
                                }
                        }
                        &:nth-child(4) 
                        {
                            color:$orange;
                                a 
                                {
                                    color:$orange;
                                        &:hover 
                                        {
                                            color: $orange;
                                        }
                                }
                        }
                        &:nth-child(5) 
                        {
                            color:$yellow;
                                a 
                                {
                                    color:$yellow;
                                        &:hover 
                                        {
                                            color: $yellow;
                                        }
                                }
                        }
                        &:last-child 
                        {
                            color:$cyan;
                                a 
                                {
                                    color:$cyan;
                                        &:hover 
                                        {
                                            color: $cyan;
                                        }
                                }
                        }
                }
            &#secondary-menu
            {
                margin-top:40px;

                li
                {
                    color:$grey;
                    a 
                    {
                        color:$grey;
                            &:hover 
                            {
                                color: $grey;
                            }
                    }
                }
            }
        }

    div#extend-sidebar
    {
        width:60px;
        text-align: center;
        position:absolute;
        bottom:0px;
        cursor: pointer;
        color:$grey;

        &:hover
        {
            background-color: rgba(13, 16, 18, 0.4);
        }

        span
        {
            display: none;
            height: 50px;
            line-height: 52px;
        }

        i
        {
            font-size: 1.5em;
            height: 50px;
            width: 60px;
            display: inline-block;
            line-height: 50px;
        }
    }
}