#sidebar 
{
    position: fixed;
    width:60px;
    top:0px;
    bottom:0px;
    margin-top:60px;
    background-color:$dark-grey; //28292d
    z-index:1038;
        ul 
        {
            margin-top:20px;
            padding:0px;
            // border-top: 1px solid rgba(13, 16, 18, 0.4);
            // border-bottom:1px solid #3b444c;
            list-style-type: none;
                li 
                {
                    text-align:center;     
                    // border-bottom: 1px solid rgba(13, 16, 18, 0.4);
                        i 
                        {
                            font-size:1.2em;
                            vertical-align:middle;
                        }
                        a 
                        {
                            display:block;
                            padding:10px 0;
                        }
                        &.current, &:hover
                        {
                            background-color: rgba(13, 16, 18, 0.4);
                        }
                        &:first-child 
                        {
                            color:$blue;
                                a 
                                {
                                    color:$blue;
                                        &:hover 
                                        {
                                            color: $blue;
                                        }
                                }
                        }
                        &:nth-child(2) 
                        {
                            color:$purple;
                                a 
                                {
                                    color:$purple;
                                        &:hover 
                                        {
                                            color: $purple;
                                        }
                                }
                        }
                        &:nth-child(3) 
                        {
                            color:$green;
                                a 
                                {
                                    color:$green;
                                        &:hover 
                                        {
                                            color: $green;
                                        }
                                }
                        }
                        &:nth-child(4) 
                        {
                            color:$orange;
                                a 
                                {
                                    color:$orange;
                                        &:hover 
                                        {
                                            color: $orange;
                                        }
                                }
                        }
                        &:last-child 
                        {
                            color:$cyan;
                                a 
                                {
                                    color:$cyan;
                                        &:hover 
                                        {
                                            color: $cyan;
                                        }
                                }
                        }
                }
            &#secondary-menu
            {
                margin-top:40px;

                li
                {
                    color:$grey;
                    a 
                    {
                        color:$grey;
                            &:hover 
                            {
                                color: $grey;
                            }
                    }
                }
            }
        }
}