.single-stat
{
    width:100%;
    text-align: center;
    
    padding:10px;
    cursor: pointer;

    div
    {
        &:first-child
        {
            font-size:4em;
            line-height: 0.8em;
            margin-bottom: 20px;
        }
        &:last-child
        {
            font-size:1.1em;
            margin-bottom: 5px;
        }
    }

    &:hover
    {
        background: rgba(208, 208, 208, 0.2);
    }
    &.price-stat
    {
        div
        {
            &:first-child
            {
                font-size: 2.3em;
            }
        }
    }
}
.double-stack-fourcol-stat
{
    .fourcol
    {
        margin:2% 0 5%
    }
}
.green-stat
{
    color: $green;
}
.orange-stat
{
    color: $orange;
}
.red-stat
{
    color: $red;
}
.blue-stat
{
    color: $blue;
}
.purple-stat
{
    color: $purple;
}
.yellow-stat
{
    color: $yellow;
}
.cyan-stat
{
    color: $cyan;
}
.red-stat
{
    color: $red;
}
.grey-stat
{
    color: $grey;
}