* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
*:before, *:after {
    @include box-sizing(border-box);
}
a {
    text-decoration: none;
    color:$dark-grey;
        &:hover {
            color:$blue;
        }
}
p {
    margin:0 0 10px;
}
.page-header {
    h2 {
        margin-top:0px;
    }
    .btn {
        float:right;
        border-left:10px solid #f0f0f0;
    }
}
