* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
*:before, *:after {
    @include box-sizing(border-box);
}
a {
    text-decoration: none;
    color:$dark-grey;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout:none;
        &:hover {
            color:$blue;
        }
}
p {
    margin:0 0 10px;
}
.page-header {
    h2 {
        margin-top:0px;
    }
    .btn {
        float:right;
        border-left:10px solid #f0f0f0;
    }
}
.pull-right {
    float:right;
}
input {
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    border-radius: 0;
}
