.table {
    width:100%;
    background-color:#fff;
        th {
            text-align: left;
        }
        td, th {
            padding:8px;
            border-right: 1px solid $light-grey;
                &:last-child {
                    border-right:0;
                }
        }
        tbody tr td:last-child {
            text-align: right;
                a {
                    margin-right: 3px;  
                        &:last-child {
                            margin-right: 0px;
                        }
                }
        }
        td {
            &.align-left {
                text-align:left !important;
            }
            &.align-right {
                text-align: right;
            }
            &.border-top {
                border-top: 1px solid $light-grey;
            }
        }
        tr.focused {
            font-size:1.2em;
        }
        &.table-margin {
            margin-bottom:15px;
        }
        .mob {
            display: block;
        }
}
.table-striped tbody tr:nth-child(odd) {
    background-color:#f9f9f9;
}
.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color:#f9f8ef;
}
.table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}