.table 
{
    width:100%;
    background-color:#fff;

    th 
    {
        text-align: left;
    }
    td, th 
    {
        padding:8px;
        border-right: 1px solid $light-grey;

        &:last-child 
        {
            border-right:0;
            min-width:35px;
        }
        .item-sub 
        {
            margin:5px 0 0;
            font-weight: 500;

            &.label 
            {
                display: inline-block;
                padding: 5px 6px 6px;
                font-size: 80%;
            }
        }
        &.triple-menu 
        {
            min-width:75px !important;
        }
        &.align-center
        {
            text-align: center !important;
        }
    }
    tbody 
    {
        tr 
        {
            td:last-child 
            {
                text-align: right;
                min-width:55px;
                a 
                {
                    margin-right: 3px;  

                    &:last-child 
                    {
                        margin-right: 0px;
                    }
                }
            }
            &:first-child
            {
                td
                {
                    border-top: 0;
                }
            }
        }
    }
    td 
    {
        &.align-left 
        {
            text-align:left !important;
        }
        &.align-right 
        {
            text-align: right;
        }
        &.border-top 
        {
            border-top: 1px solid $light-grey;
        }
        &.select 
        {
            min-width:75px;
        }
        &.fifty 
        {
            width:40%;
        }
        &.sku, &.part-no
        {
            width:7%;
        }
        &.name
        {
            width:35%;
        }
    }
    tr 
    {
        &.focused 
        {
            font-size:1.2em;
        }
        &.tr-red 
        {
            background-color:rgba(205,38,38,0.7);
        }
        &.tr-green 
        {
            background-color:rgba(141,199,63,0.7) !important;
        }
        &.tr-green td, &.tr-red td 
        {
            border-right: 0;
        }
    }
    &.table-margin 
    {
        margin-bottom:15px !important;
    }
    ul 
    {
        margin:0;
        padding-left:20px;
    }
    tr td 
    {
        border-top:1px solid #d0d0d0;
    }
    .inner-table
    {
        padding:0;

        table
        {
            width:100%;

            tbody
            {
                tr:first-child td
                {
                    border-top:0px;
                }
            }
            th, td
            {
                width: 33%;
            }
            td
            {
                min-width:68px;
            }
        }
    }

    &.table-form 
    {
        margin:0;

        input 
        {
            width:100%;
        }
        input[type=checkbox]
        {
            width:auto;
        }
        tr
        {
            th:first-child, td:first-child
            {
                padding:8px 8px 8px 20px;
            }
            th:last-child, td:last-child
            {
                padding:8px 20px 8px 8px;
            }
            td
            {
                &.triple-menu 
                {
                    min-width:85px !important;
                }
            }
        }
    }
    &.table-striped tbody tr:nth-child(odd) 
    {
        background-color:#f9f9f9;

        table tr
        {
            background-color:#f9f9f9;
        }
    }
    &.table-striped tbody tr:nth-child(even) 
    {
        table tr
        {
            background-color:#fff;
        }
    }
    &.table-hover thead tr:hover th, .table-hover tbody tr:hover td 
    {
        background-color:#f9f8ef;
    }
    &.table-responsive 
    {
        width: 100%;
        overflow-y: hidden;
    }
}
