.bootstrap-tagsinput 
{
  background-color: rgba(208,208,208,0.5);
  display: block;
  vertical-align: middle;
  max-width: 100%;
  line-height: 22px;
  overflow: hidden;
  padding:10px 15px;
  
    input 
    {
      border: none;
      box-shadow: none;
      outline: none;
      background:none;
      padding:0 5px;
      margin: 5px 0;
      height:38px;
      min-width:100px;
      width: auto !important;
      max-width: inherit;
      @include box-sizing(border-box);
        &:focus 
        {
          border: none;
          box-shadow: none;
        }
    }

    .tag 
    {
      margin: 5px 10px 5px 0;
      background-color:$blue;
      color: #fff;
      padding:4px 10px;
      float:left;
      height:38px;
      display:block;
      line-height: 30px;
      font-size: 1.1em;
      font-weight: bold;
      @include box-sizing(border-box);

      [data-role="remove"] 
      {
        margin-left: 8px;
        cursor: pointer;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-size: 11px;

        &:after 
        {
          content: "\e0fd";
          padding: 0px 2px;
        }
      }
    }
}


