.widget {
    background-color:#fff;
        &.widget-header {
            padding:10px 20px;
            margin-bottom:15px;
        }
        &.widget-form {
            padding:20px;
            margin-bottom:15px;
        }
        &.attachment-form {
            padding:10px;
        }
        &.tag-form {
            padding:15px 10px 15px 20px;   
        }
}