@import "compass/css3";

$blue: #00AEEF;
$purple: #855FA8;
$green: #8DC73F;
$orange: #F7941D;
$yellow: #FFF200;
$red: #ED1C24;
$magenta: #F06EA9;

$menuOffset: 50%;
$transitionSpeed: .5s;

p {
    margin:0 0 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
}
.main {
    margin:60px 0 0 60px;
    padding:30px;
}
.mobile {
    display:none;
}
.desktop {
    display: block;
}
.menu-trigger-handler {
    display:none;
}
.all-wrapper {
    // -webkit-transform: translate3D(0,0,0);
    // -moz-transform: translate3D(0,0,0);
    // -webkit-transition: -webkit-transform $transitionSpeed ease-in-out;
    // -moz-transition: -moz-transform $transitionSpeed ease-in-out;
}
header {
    background-color: #CDC9C9;
    height:60px;
    position:fixed;
    width:100%;
    top:0;
    z-index:1030;
        #logo {
            height:60px;
            width:60px;
            background-color:#fff;
        }
        #menu-trigger {
            background-color:#fff;
            color:rgba(35,40,45, 1);
            padding:7px;
            height:40px;
            width:40px;
            text-align:center;
            @include box-sizing(border-box);
            font-size:1.4em;
            margin:10px 0 0 10px;
            vertical-align: center;
            cursor:pointer;
        }
}
#sidebar {
    position: fixed;
    width:60px;
    top:0px;
    bottom:0px;
    margin-top:60px;
    background-color:#2f363d;
        ul {
            margin-top:50px;
            padding:0px;
                li {
                    text-align:center;
                    padding:10px 0;
                    border-bottom: 1px solid #0d1012;
                    border-top:1px solid #3b444c;
                        i {
                            font-size:1.1em;
                        }
                        &.current {
                            background-color: #0d1012;
                        }
                        &:first-child {
                            color:$blue;
                        }
                        &:nth-child(2) {
                            color:$purple;
                        }
                        &:nth-child(3) {
                            color:$green;
                        }
                        &:nth-child(4) {
                            color:$orange;
                        }
                        &:nth-child(5) {
                            color:$yellow;
                        }
                        &:nth-child(6) {
                            color:$red;
                        }
                        &:last-child {
                            color:$magenta;
                        }
                }
        }
}
#slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $menuOffset;
    z-index: 1;
    background: #2f363d;
    overflow: auto;
    opacity: 0;
    -webkit-transition: opacity 0s 0s;
        ul {
            -webkit-overflow-scrolling: touch;
            padding:0;
            margin:0;
                li {
                    padding:10px 0;
                    border-bottom: 1px solid #0d1012;
                    border-top:1px solid #3b444c;
                    color:#f0f0f0;
                        i {
                            margin:0 10px 0 10px;
                        }
                        span {
                            text-shadow: 0 1px 0 #000;
                        }
                        &.current {
                            background-color: #0d1012;
                            color:#fff;
                        }
                        &:first-child i {
                            color:$blue;
                        }
                        &:nth-child(2) i {
                            color:$purple;
                        }
                        &:nth-child(3) i {
                            color:$green;
                        }
                        &:nth-child(4) i {
                            color:$orange;
                        }
                        &:nth-child(5) i {
                            color:$yellow;
                        }
                        &:nth-child(6) i {
                            color:$red;
                        }
                        &:last-child i {
                            color:$magenta;
                        }
                }
        }
}
@media handheld, only screen and (max-width: 500px) {
    body {
        .mobile {
            display:block;
        }
        .desktop {
            display:none;
        }
        .sidebar, .logo {
            display:none;
        }
        .main {
            margin:60px 0 0;
        }

        #menu-trigger-input:checked {
    
            & ~ #slide-menu {
                opacity: 1;
                @include transform(opacity 0s 0s);
            }
        
            & ~ .all-wrapper {
                @include transform3d(translate3D($menuOffset,0,0));
                overflow: hidden;
            }
        }
        
    }
}