@import "compass/css3";

$blue: #00aff1;
$purple: #ab8bff;
$green: #8DC73F;
$orange: #F7941D;
$yellow: #ffd700;
$cyan: #9bebff;
$grey: #d5d5de;
$dark-grey: #2f363d;
$light-grey: #d0d0d0;
$red: #CD2626;

$menuOffset: 35%;
$transitionSpeed: .5s;

@import "base";
@import "1500";
@import "alert";
@import "widget";
@import "button";
@import "header";
@import "sidebar";
@import "table";
@import "form";
@import "tag_input";
@import "breadcrumb";
@import "labels";
@import "error";
@import "icon";

@import "modal";
@import "dropdown";
@import "tooltip";

@import "responsive";