<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Soca admin responsive template - Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/soca.css" media="screen">
        <link rel="stylesheet" href="components/fontawesome/css/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="components/icomoon/style.css" media="screen">
        <script src="components/modernizr/modernizr.js"></script>
    </head>
    <body>
        
            {{!-- {{partial 'mobile_navigation'}} --}}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <div class="all-wrapper">
                <div class="mp-pusher" id="mp-pusher">
                    {{partial 'mobile_navigation'}}
                    <div class="scroller">
                        <div class="scroller-inner">
                            {{partial 'header'}}
                            <div id="sidebar" class="desktop">
                                <ul id="main-menu">
                                    <li><a href="category-index.html" data-toggle="tooltip" data-placement="right" title="Categories"><i class="icon-lab"></i></a></li>
                                    <li><a href="product-index.html" data-toggle="tooltip" data-placement="right" title="Products"><i class="fa fa-th-large"></i></a></li>
                                    <li><a href="accessory-index.html" data-toggle="tooltip" data-placement="right" title="Accessories"><i class="icon-power-cord"></i></a></li>
                                    <li><a href="order-index.html" data-toggle="tooltip" data-placement="right" title="Orders"><i class="icon-box-add"></i></a></li>
                                    <li><a href="shipping-index.html" data-toggle="tooltip" data-placement="right" title="Shippings"><i class="icon-airplane"></i></a></li>
                                    <li><a href="zone-index.html" data-toggle="tooltip" data-placement="right" title="Zones"><i class="icon-location"></i></a></li>
                                    
                                </ul>

                                <ul id="secondary-menu">
                                    <li><a href="pages-index.html" data-toggle="tooltip" data-placement="right" title="Pages"><i class="icon-file-2"></i></a></li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="right" title="Storefront  ">
                                            <i class="icon-screen"></i>
                                        </a>
                                    </li>
                                    <li><a href="settings.html" data-toggle="tooltip" data-placement="right" title="Settings"><i class="icon-cog"></i></a></li>
                                </ul>
                            </div>
                            <div class="main">
                                <div class="loading5"><i></i><i></i><i></i><i></i></div>
                                <div class="loading-overlay"></div>
                                <div class="container">
                                    {{> body}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="js/soca.js"></script>
        <script src="js/application.js"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>