<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Soca admin responsive template - Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/soca.css" media="screen">
        <link rel="stylesheet" href="components/fontawesome/css/font-awesome.min.css" media="screen">
        <link rel="stylesheet" href="components/icomoon/dist/css/style.css" media="screen">
        <script src="components/modernizr/modernizr.js"></script>
    </head>
    <body>
        
            {{!-- {{partial 'mobile_navigation'}} --}}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <div class="all-wrapper">
                <div class="mp-pusher" id="mp-pusher">
                    {{partial 'mobile_navigation'}}
                    <div class="scroller">
                        <div class="scroller-inner">
                            {{partial 'header'}}
                            <div id="sidebar" class="desktop">
                                {{partial 'desktop_navigation'}}
                            </div>
                            <div class="main">
                                <div class="loading5"><i></i><i></i><i></i><i></i></div>
                                <div class="loading-overlay"></div>
                                <div class="container">
                                    {{> body}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="js/soca.js"></script>
        <script src="js/application.js"></script>
    </body>
</html>