<div class="row">
    <div class="alert alert-success">
        <i class="icon-checkmark-circle"></i>
        This is a successful notice for an action.
    </div>
    <div class="twelvecol last">
        <div class="page-header">
            <a class="btn btn-blue btn-large" href="accessory-form.html" data-toggle="tooltip" data-placement="bottom" title="Add accessory">
                <i class="icon-plus"></i>
            </a>
            <h2 class="widget widget-header">Accessories</h2>
            
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Part no.</th>
                        <th>Name</th>
                        <th>Weight (g)</th>
                        <th>Cost value</th>
                        <th>Net price</th>
                        <th>Gross Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23523</td>
                        <td>Additional lead</td>
                        <td>300.0</td>
                        <td>£0.51</td>
                        <td>£1.25</td>
                        <td>£1.50</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="#" class="">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>