<div class="row">
    <div class="alert alert-info">
        <i class="icon-info-2"></i>
        This is an information notice for the template.
    </div>
    <div class="eightcol">
        <div class="page-header">
            <h2 class="widget widget-header">New accessory</h2>
        </div>
        <form method="post" role="form" action="#">
            <fieldset class="widget widget-content widget-last">
                <div class="form-group">
                    <label for="accessory_part_number">Part number</label>
                    <input class="form-control" id="accessory_part_number" type="text">
                </div>
                <div class="form-group">
                    <label for="accessory_name">Name</label>
                    <input class="form-control" id="accessory_name" type="text"></input>
                </div>
                <div class="form-group">
                    <label for="accessory_weight">Weight (g)</label>
                    <input class="form-control" id="accessory_weight" type="text"></input>
                </div>
                <div class="form-group">
                    <label for="accessory_cost_value">Cost value</label>
                    <input class="form-control" id="accessory_cost_value" type="text"></input>
                </div>
                <div class="form-group form-last">
                    <label for="accessory_net_price">Net price</label>
                    <input class="form-control" id="accessory_net_price" type="text"></input>
                </div>
            </fieldset>
            <div class="form-action">
                <input class="btn btn-blue btn-large" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <div class="fourcol last"></div>
</div>