<div class="row">
    <div class="alert alert-success">
        <i class="icon-checkmark-circle"></i>
        This is a successful notice for an action.
    </div>
    <div class="twelvecol last">
        <div class="page-header">
            <a class="btn btn-blue btn-large" href="attribute-type-form.html" data-toggle="tooltip" data-placement="bottom" title="Add attribute type">
                <i class="icon-plus"></i>
            </a>
            <h2 class="widget widget-header">Product attribute types</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Measurement</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Weight</td>
                        <td>grams</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="#" class="">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>