<div class="row">

	<ol id="breadcrumbs">
		<li class="current">
			Delivery services
		</li>
	</ol>
	<div class="twelvecol">
		<div class="page-header">
			<a class="btn btn-blue btn-large" data-placement="bottom" data-toggle="tooltip" title="" href="delivery-services-form.html" data-original-title="Add delivery service">
				<i class="icon-plus"></i>
			</a>    
			<h2 class="widget widget-header">Delivery services</h2>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="delivery-services">
				<thead class="main-table">
					<tr>
						<th>Courier</th>
						<th>Name</th>
						<th>Description</th>
						<th class="inner-table">
							<table>
								<thead>
									<tr>
										<th>Code</th>
										<th>Net price</th>
										<th>Gross Price</th>
									</tr>
								</thead>
							</table>
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Royal Mail
						</td>
						<td>
							1st class
						</td>
						<td>
							Standard Royal Mail delivery service within 1-2 business days.
						</td>
						<td class="inner-table">
							<table style="height: 68px;">
								<tbody>
									<tr>
										<td>
											RM1 500g
										</td>
										<td>
											£5.67
										</td>
										<td class="align-left">
											£6.80
										</td>
									</tr>
									<tr>
										<td>
											RM1 1kg
										</td>
										<td>
											£22.67
										</td>
										<td class="align-left">
											£27.20
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td class="triple-menu table-actions">
							<a href="delivery-prices-index.html">
								<i class="icon-search"></i>
							</a>    
							<a href="#">
								<i class="icon-pencil"></i>
							</a>    
							<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
								<i class="icon-remove"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>