<div class="row">

	<ol id="breadcrumbs">
		<li>
			<a href="delivery-services-index.html">Delivery services</a>
		</li>
		<li class="current">
			Royal Mail 1st class
		</li>
	</ol>

	<div class="twelvecol">
		<div class="page-header">
			<a class="btn btn-blue btn-large" data-placement="bottom" data-toggle="tooltip" title="" href="delivery-prices-form.html" data-original-title="Add delivery pricing">
				<i class="icon-plus"></i>
			</a>    
			<h2 class="widget widget-header">Delivery pricing for Royal Mail 1st class</h2>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
						<th>Weight parameters</th>
						<th>Length parameters</th>
						<th>Thickness parameters</th>
						<th>Net price</th>
						<th>Gross price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							RM1 500g
						</td>
						<td>
							Standard Royal Mail delivery service within 1-2 business days.
						</td>
						<td>
							0.0 - 500.0
						</td>
						<td>
							0.0 - 100.0
						</td>
						<td>
							0.0 - 50.0
						</td>
						<td>
							£5.67
						</td>
						<td>
							£6.80
						</td>
						<td class=" table-actions">
							<a href="#">
								<i class="icon-pencil"></i>
							</a>    
							<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
								<i class="icon-remove"></i>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							RM1 1kg
						</td>
						<td>
							Standard Royal Mail delivery service within 1-2 business days.
						</td>
						<td>
							0.0 - 1000.0
						</td>
						<td>
							0.0 - 150.0
						</td>
						<td>
							0.0 - 100.0
						</td>
						<td>
							£22.67
						</td>
						<td>
							£27.20
						</td>
						<td class=" table-actions">
							<a href="#">
								<i class="icon-pencil"></i>
							</a>    
							<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
								<i class="icon-remove"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
        {{partial 'pagination'}}
	</div>
</div>
