
<div class="row">
    <div class="twelvecol">
        <div class="page-header">
            <h2 class="widget widget-header">Dashboard</h2>
        </div>
        <div class="widget-sub-heading">
            <h3>Orders</h3>
        </div>
        <div class="widget widget-content">
            <div class="row">
                <div class="twelvecol">
                    <canvas id="lineChart" width="1140" height="400" class="line-chart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="fourcol">
                    <div class="single-stat">
                        <div class="green-stat">23</div>
                        <div>Completed</div>
                    </div>
                </div>
                <div class="fourcol">
                    <div class="single-stat">
                        <div class="orange-stat">11</div>
                        <div>Pending</div>
                    </div>
                </div>
                <div class="fourcol last">
                    <div class="single-stat">
                        <div class="red-stat">78</div>
                        <div>Failed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="eightcol">
                <div class="widget-sub-heading">
                    <h3>Revenue</h3>
                </div>
                <div class="widget widget-content">
                    <div class="row">
                        <div class="fourcol">
                            <div class="single-stat price-stat">
                                <div class="green-stat">£2,378.28</div>
                                <div>Gross income</div>
                            </div>
                        </div>
                        <div class="fourcol">
                            <div class="single-stat price-stat">
                                <div class="purple-stat">£1,888.38</div>
                                <div>Net income</div>
                            </div>
                        </div>
                        <div class="fourcol last">
                            <div class="single-stat price-stat">
                                <div class="blue-stat">£489.90</div>
                                <div>Tax</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fourcol last">
                <div class="widget-sub-heading">
                    <h3>Transactions</h3>
                </div>
                <div class="widget widget-content">
                    <div class="row">
                        <div class="twelvecol">
                            <canvas id="pieChart" width="300" height="300" class="pie-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {{!-- <div class="page-header">
        <h2 class="widget widget-header">Buttons</h2>
    </div>
    <div class="widget-sub-heading">
        <h3>Normal</h3>
    </div>
    <div class="widget widget-content">
        <a href="#" class="btn btn-blue btn-normal">Blue button</a>
        <a href="#" class="btn btn-green btn-normal">Green button</a>
        <a href="#" class="btn btn-orange btn-normal">Orange button</a>
        <a href="#" class="btn btn-red btn-normal">Red button</a>
        <a href="#" class="btn btn-grey btn-normal">Grey button</a>
    </div>
    <div class="widget-sub-heading">
        <h3>Large</h3>
    </div>
    <div class="widget widget-content">
        <a href="#" class="btn btn-blue btn-large">Blue button</a>
        <a href="#" class="btn btn-green btn-large">Green button</a>
        <a href="#" class="btn btn-orange btn-large">Orange button</a>
        <a href="#" class="btn btn-red btn-large">Red button</a>
        <a href="#" class="btn btn-grey btn-large">Grey button</a>
    </div>

    <div class="page-header">
        <h2 class="widget widget-header">Labels</h2>
    </div>
    <div class="widget-sub-heading">
        <h3>Small</h3>
    </div>
    <div class="widget widget-content">
        <div class="label label-blue label-small">Blue label</div>
        <div class="label label-green label-small">Green label</div>
        <div class="label label-orange label-small">Orange label</div>
        <div class="label label-red label-small">Red label</div>
        <div class="label label-grey label-small">Red label</div>
    </div>
    <div class="widget-sub-heading">
        <h3>Large</h3>
    </div>
    <div class="widget widget-content">
        <div class="label label-blue label-large">Blue label</div>
        <div class="label label-green label-large">Green label</div>
        <div class="label label-orange label-large">Orange label</div>
        <div class="label label-red label-large">Red label</div>
        <div class="label label-grey label-large">Red label</div>
    </div>

    <div class="page-header">
        <h2 class="widget widget-header">Tooltip</h2>
    </div>
    <div class="widget widget-content">
        <div class="label label-blue label-large" data-toggle="tooltip" data-placement="top" title="Hey tooltip">Tooltip top</div>
        <div class="label label-blue label-large" data-toggle="tooltip" data-placement="right" title="Hi tooltip">Tooltip right</div>
        <div class="label label-blue label-large" data-toggle="tooltip" data-placement="bottom" title="Howdy tooltip">Tooltip bottom</div>
        <div class="label label-blue label-large" data-toggle="tooltip" data-placement="left" title="Hello tooltip">Tooltip left</div>
    </div>

    <div class="page-header">
        <h2 class="widget widget-header">Extra</h2>
    </div>
    <div class="widget widget-content">
        <button class="btn btn-green btn-large" data-toggle="modal" data-target="#exampleModal" >Launch example modal</button>
        <a class="btn btn-blue btn-large" href="login.html">Login page</a>
        <button class="loading-trigger btn btn-large btn-red" href="#">Loading animation</button>
    </div> --}}

{{!--     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 id="exampleModalLabel">Modal title</h2>
          </div>
          <div class="modal-body">
            <form method="post" role="form" action="#">
                <fieldset class="widget widget-content widget-last">
                    <div class="form-group">
                        <label for="order_shipping_date">Shipping date</label>
                        <input class="form-control" id="order_shipping_date" type="text">
                    </div>
                    <div class="form-group form-last">
                        <label for="order_cost_value">Cost value</label>
                        <input class="form-control" id="order_cost_value" type="text">
                    </div>
                </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-orange btn-large" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-blue btn-large">Save changes</button>
          </div>
        </div>
      </div>
    </div> --}}