
<div class="row">
    <div class="twelvecol">
        <div class="page-header">
            <h2 class="widget widget-header">Dashboard</h2>
        </div>
        <div class="widget-sub-heading">
            <h3>Orders</h3>
        </div>
        <div class="widget widget-content widget-chart">
            <div class="row">
                <div class="twelvecol">
                    <canvas id="lineChart" width="1140" height="400" class="line-chart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="fourcol">
                    <div class="single-stat">
                        <div class="green-stat">23</div>
                        <div>Completed</div>
                    </div>
                </div>
                <div class="fourcol">
                    <div class="single-stat">
                        <div class="orange-stat">11</div>
                        <div>Pending</div>
                    </div>
                </div>
                <div class="fourcol last">
                    <div class="single-stat">
                        <div class="red-stat">78</div>
                        <div>Failed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-sub-heading">
            <h3>Transactions</h3>
        </div>
        <div class="widget widget-content widget-chart">
            <div class="row">
                <div class="threecol">
                    <canvas id="pieChart" width="502" height="502" class="pie-chart" style="width: 251px; height: 251px;"></canvas>
                    
                </div>
                <div class="ninecol last">
                    <div class="row double-stack-fourcol-stat">
                        <div class="fourcol">
                            <div class="single-stat price-stat">
                                <div class="green-stat">£0.00</div>
                                <div>Gross income</div>
                            </div>
                        </div>
                        <div class="fourcol">
                            <div class="single-stat price-stat">
                                <div class="purple-stat">£0.00</div>
                                <div>Net income</div>
                            </div>
                        </div>
                        <div class="fourcol last">
                            <div class="single-stat price-stat">
                                <div class="red-stat">£0.00</div>
                                <div>Tax</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="fourcol">
                            <div class="single-stat price-stat">
                                <div class="blue-stat">£0.00</div>
                                <div>PayPal Fees</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>