<div class="row">
    <div class="alert alert-success">
        <i class="icon-checkmark-circle"></i>
        This is a successful notice for an action.
    </div>
    <ol id="breadcrumbs">
        <li class="current">Pages</li>
    </ol>
    <div class="twelvecol">
        <div class="page-header">   
            <h2 class="widget widget-header">Pages</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Active</th>
                        <th>Last updated</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>About</td>
                        <td><i class="icon-checkmark icon-green"></td>
                        <td>04/02/2014 at 12:36PM</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-search"></i>
                            </a>
                            <a href="pages-form.html" class="">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><i class="icon-checkmark icon-green"></td>
                        <td>04/02/2014 at 12:36PM</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-search"></i>
                            </a>
                            <a href="pages-form.html" class="">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Terms & conditions</td>
                        <td><i class="icon-close icon-red"></td>
                        <td>04/02/2014 at 12:36PM</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-search"></i>
                            </a>
                            <a href="pages-form.html" class="">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>FAQ</td>
                        <td><i class="icon-close icon-red"></td>
                        <td>04/02/2014 at 12:36PM</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-search"></i>
                            </a>
                            <a href="pages-form.html" class="">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{partial 'pagination'}}
    </div>
</div>