<div class="row">

	<ol id="breadcrumbs">
		<li>
			<a href="product-index.html">Products</a>
		</li>
		<li class="current">
			Edit
		</li>
	</ol>

	<div class="twelvecol">
		<div class="page-header">
			<h2 class="widget widget-header">Edit product</h2>
		</div>
		<form role="form" class="edit_product" id="edit_product_3" action="/admin/products/3" accept-charset="UTF-8" method="post">
			<input name="utf8" type="hidden" value="✓">
			<input type="hidden" name="_method" value="patch">
			<input type="hidden" name="authenticity_token" value="bXrvsEaOTV+HJT7emWgxLAkYXQkHO1BT2J9GZAXa+8auGdd1lQLM/eM7NX9k/VKReXQAUg9SBGy/6/LEJ8bGyQ==">
			<div class="threecol"></div>
			<div class="ninecol last"></div>
			<div class="threecol">
				<h3>Product details</h3>
				<p>Set the name, description and sorting order for your category.</p>
			</div>
			<div class="ninecol last">
				<fieldset class="widget widget-content">
					<div class="row">
						<div class="twelvecol">
							<div class="form-group">
								<select class="form-control" name="product[category_id]" id="product_category_id">
									<option value="">Select category...</option>
									<option value="1">Category #1</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="sixcol">
							<div class="form-group">
								<label for="product_part_number">Part number</label>
								<input class="form-control" type="text" name="product[part_number]" id="product_part_number">
							</div>
						</div>
						<div class="sixcol last">
							<div class="form-group">
								<label for="product_sku">Sku</label>
								<input class="form-control" type="text" name="product[sku]" id="product_sku">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="sixcol">
							<div class="form-group">
								<label for="product_name">Name</label>
								<input class="form-control" type="text" name="product[name]" id="product_name">
							</div>
						</div>
						<div class="sixcol last">
							<div class="form-group">
								<label for="product_weighting">Weighting</label>
								<input class="form-control" type="text" name="product[weighting]" id="product_weighting">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="twelvecol">
							<div class="form-group">
								<label for="product_short_description">Short description</label>
								<input class="form-control" type="text" name="product[short_description]" id="product_short_description">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="twelvecol">
							<div class="form-group form-last">
								<label for="product_description">Description</label>
								<textarea rows="8" class="form-control" name="product[description]" id="product_description"></textarea>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="threecol">
				<h3>Search engines</h3>
				<p>Set up the page title and meta description to help define how a page is shown in search engines.</p>
			</div>
			<div class="ninecol last">
				<fieldset class="widget widget-content">
					<div class="form-group">
						<label for="product_page_title">Page title</label>
						<input class="form-control" type="text" name="product[page_title]" id="product_page_title">
					</div>
					<div class="form-group">
						<label for="product_meta_description">Meta description</label>
						<input class="form-control" type="text" name="product[meta_description]" id="product_meta_description">
					</div>
				</fieldset>
			</div>
			<div class="threecol">
				<h3>Images</h3>
				<p>Upload and edit images of this product. You can also set the default image to display on the product page.</p>
				<a id="add-image" class="btn btn-green btn-normal" href="/admin/products/3/attachments/new">Add Image</a>
			</div>
			<div class="ninecol last">
				<fieldset class="widget widget-content" id="attachments">
					<div class="helper-notification">
						<p>You do not have any images for this product.</p>
						<i class="icon-images"></i>
					</div>
				</fieldset>
			</div>
			<div class="threecol">
				<h3>Variants</h3>
				<p>Configure the variant options for selling this product.</p>
				<a class="btn btn-blue btn-normal" id="sku-variant-options-button" data-remote="true" href="/admin/products/3/skus/variants/new">Variant options</a>
				<a class="btn btn-green btn-normal" id="add-sku-button" data-remote="true" href="/admin/products/3/skus/new">Add variant</a>
			</div>
			<div class="ninecol last">
				<fieldset class="widget widget-content" id="skus">
					<div class="helper-notification">
						<p>You do not have any variants for this product.</p>
						<i class="icon-tags"></i>
					</div>
				</fieldset>
			</div>
			<div class="threecol">
				<h3>Associations</h3>
				<p>Select associated accessories and related products for your product (related products will be displayed on the product page).</p>
			</div>
			<div class="ninecol last">
				<div class="widget widget-content">
					<div class="form-group">
						<label>Accessories</label>
						<input name="product[accessory_ids][]" type="hidden" value="">
						<select class="chosen" multiple="multiple" data-placeholder="Select associated accessories..." name="product[accessory_ids][]" id="product_accessory_ids" style="display: none;">
							<option value="1">Accessory #1</option>
						</select>
					</div>
					<div class="form-group form-last">
						<label>Related products</label>
						<input name="product[related_ids][]" type="hidden" value="">
						<select class="chosen" multiple="multiple" data-placeholder="Select related products..." name="product[related_ids][]" id="product_related_ids" style="display: none;">
							<option value="1">Your first product</option>
						</select>
					</div>
				</div>
			</div>
			<div class="threecol">
				<h3>Additional options</h3>
				<p>Feature your product and/or remove SKU options from the product page.</p>
			</div>
			<div class="ninecol last">
				<fieldset class="widget widget-content widget-last">
					<div class="checkbox blocked margin">
						<label>
							<input name="product[featured]" type="hidden" value="0"><input type="checkbox" value="1" name="product[featured]" id="product_featured">
							Featured
						</label>
					</div>
					<div class="form-group form-last">
						<label>Tags</label>
						<input type="text" name="taggings" id="taggings" value="" data-role="tagsinput">
					</div>
				</fieldset>
			</div>
			<div class="threecol"></div>
			<div class="ninecol last">
				<div class="form-action">
					<input type="submit" name="commit" value="Publish" class="btn btn-green btn-large">
					<input type="submit" name="commit" value="Save" class="btn btn-blue btn-large">
				</div>
			</div>
		</form>
		<div id="sku-modal">
			<div aria-hidden="false" aria-labelledby="skuModalLabel" class="modal fade" id="sku-form" role="dialog" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<form role="form" class="amend-sku" data-method="POST" id="new_sku" action="/admin/products/your-first-product/skus" accept-charset="UTF-8" data-remote="true" method="post">
							<input name="utf8" type="hidden" value="✓">
							<div class="loading5">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
							</div>
							<div class="loading-overlay"></div>
							<div class="modal-header">
								<h3 id="skuModalLabel">
									Add variant
								</h3>
							</div>
							<div class="modal-body">
								<fieldset class="widget widget-content widget-last">
									<div clas="row">
										<div class="sixcol">
											<div class="form-group">
												<label>Size</label>
												<input value="1" type="hidden" name="sku[variants_attributes][0][variant_type_id]" id="sku_variants_attributes_0_variant_type_id">
												<input class="form-control" type="text" name="sku[variants_attributes][0][name]" id="sku_variants_attributes_0_name">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="twelvecol">
											<div class="form-group">
												<label for="sku_code">Code</label>
												<input class="form-control" type="text" name="sku[code]" id="sku_code">
											</div>
										</div>  
									</div>
									<div class="row">
										<div class="fourcol">
											<div class="form-group">
												<label for="sku_length">Length</label>
												<input class="form-control" type="text" name="sku[length]" id="sku_length">
											</div>
										</div>
										<div class="fourcol">
											<div class="form-group">
												<label for="sku_weight">Weight</label>
												<input class="form-control" type="text" name="sku[weight]" id="sku_weight">
											</div>
										</div>
										<div class="fourcol last">
											<div class="form-group">
												<label for="sku_thickness">Thickness</label>
												<input class="form-control" type="text" name="sku[thickness]" id="sku_thickness">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="sixcol">
											<div class="form-group">
												<label for="sku_stock">Stock</label>
												<input class="form-control" type="text" name="sku[stock]" id="sku_stock">
											</div>
										</div>
										<div class="sixcol last">
											<div class="form-group">
												<label for="sku_stock_warning_level">Stock warning level</label>
												<input class="form-control" type="text" name="sku[stock_warning_level]" id="sku_stock_warning_level">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="sixcol">
											<div class="form-group form-last">
												<label for="sku_cost_value">Cost value</label>
												<div class="form-prefix">
													<span>£</span>
													<input class="form-control calculate-tax" type="text" name="sku[cost_value]" id="sku_cost_value"><div class="gross label label-blue">Gross amount: 0.00</div>
												</div>
											</div>
										</div>
										<div class="sixcol last">
											<div class="form-group form-last">
												<label for="sku_price">Price</label>
												<div class="form-prefix">
													<span>£</span>
													<input class="form-control calculate-tax" type="text" name="sku[price]" id="sku_price"><div class="gross label label-blue">Gross amount: 0.00</div>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div class="modal-footer">
								<button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
								<input type="submit" name="commit" value="Submit" class="btn btn-blue btn-large">
							</div>
						</form>    
					</div>
				</div>
			</div>
		</div>
		<div id="sku-variants-modal">
			<div aria-hidden="false" aria-labelledby="skuVariantsModalLabel" class="modal fade" id="sku-variants-form" role="dialog" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<form class="amend-variants" data-method="POST" action="/admin/products/3/skus/variants" accept-charset="UTF-8" data-remote="true" method="post">
							<input name="utf8" type="hidden" value="✓">
							<div class="loading5">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
							</div>
							<div class="loading-overlay"></div>
							<div class="modal-header">
								<h3 id="skuVariantsModalLabel">
									Configure variant options
								</h3>
							</div>
							<div class="modal-body">
								<fieldset class="widget widget-content widget-last">
									<div class="form-group">
										<label for="Size">Size</label>
										<input type="text" name="size" id="size" value="" class="tagsinput" style="display: none;"><div class="bootstrap-tagsinput"><input size="1" type="text"></div>
									</div>
									<div class="form-group">
										<label for="Color">Color</label>
										<input type="text" name="color" id="color" value="" class="tagsinput" style="display: none;"><div class="bootstrap-tagsinput"><input size="1" type="text"></div>
									</div>
								</fieldset>
							</div>
							<div class="modal-footer">
								<button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
								<input type="submit" name="commit" value="Submit" class="btn btn-blue btn-large">
							</div>
						</form>    
					</div>
				</div>
			</div>
		</div>
		<div id="attachment-modal">
			<div aria-hidden="false" aria-labelledby="attachmentModalLabel" class="modal fade" id="attachment-form" role="dialog" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<form role="form" id="amend_attachment" data-method="POST" class="new_attachment" enctype="multipart/form-data" action="/admin/products/your-first-product/attachments" accept-charset="UTF-8" data-remote="true" method="post">
							<input name="utf8" type="hidden" value="✓">
							<div class="loading5">
								<i></i>
								<i></i>
								<i></i>
								<i></i>
							</div>
							<div class="loading-overlay"></div>
							<div class="modal-header">
								<h3 id="attachmentModalLabel">
									Add image
								</h3>
							</div>
							<div class="modal-body">
								<fieldset class="widget widget-content widget-last">
									<img width="100" height="100" src="http://placehold.it/100x100" alt="Default">
									<div class="form-group">
										<label for="attachment_file">File</label>
										<input class="form-control" type="file" name="attachment[file]" id="attachment_file">
									</div>
									<div class="checkbox">
										<label>
											<input name="attachment[default_record]" type="hidden" value="0"><input type="checkbox" value="1" name="attachment[default_record]" id="attachment_default_record">
											Default
										</label>
									</div>
								</fieldset>
							</div>
							<div class="modal-footer">
								<button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
								<input type="submit" name="commit" value="Submit" class="btn btn-blue btn-large">
							</div>
						</form>    
					</div>
				</div>
			</div>
		</div>
	</div>
</div>