<div class="row">
    <div class="alert alert-info">
        <i class="icon-info-2"></i>
        This is an information notice for the template.
    </div>
    <div class="eightcol">
         <div class="page-header">
            <h2 class="widget widget-header">New shipping method</h2>
        </div>
        <form method="post" role="form" action="#">
            <fieldset class="widget widget-content">
                <div class="form-group">
                    <label for="shipping_method_name">Name</label>
                    <input class="form-control" id="shipping_method_name" type="text">
                </div>
                <div class="form-group">
                    <label for="shipping_method_price">Price</label>
                    <input class="form-control calculate-tax" id="shipping_method_price" type="text"></input>
                </div>
                <div class="form-group form-last">
                    <label for="shipping_method_description">Description</label>
                    <textarea class="form-control" id="shipping_method_description" rows="8"></textarea>
                </div>
            </fieldset>
            <div class="widget-sub-heading">
                <h3>Zones</h3>
            </div>
            <fieldset class="widget widget-content">
                <select class="chosen" data-placeholder="Please select authorised shipping locations..." multiple="multiple">
                    <optgroup label="Zone">
                        <option value="300">EU</option>
                        <option value="150">Africa</option>
                        <option value="622">SEA</option>
                        <option value="6211">South America</option>
                        <option value="1122">East Europe</option>
                    </optgroup>
                    <optgroup label="Country">
                        <option value="3">Afghanistan</option>
                        <option value="15">Aland Islands</option>
                        <option value="6">Albania</option>
                        <option value="62">Algeria</option>
                        <option value="11">American Samoa</option>
                        <option value="1">Andorra</option>
                        <option value="8">Angola</option>
                        <option value="5">Anguilla</option>
                        <option value="9">Antarctica</option>
                        <option value="4">Antigua and Barbuda</option>
                        <option value="10">Argentina</option>
                        <option value="7">Armenia</option>
                        <option value="14">Aruba</option>
                        <option value="13">Australia</option>
                        <option value="12">Austria</option>
                        <option value="16">Azerbaijan</option>
                        <option value="32">Bahamas</option>
                        <option value="23">Bahrain</option>
                        <option value="19">Bangladesh</option>
                        <option value="18">Barbados</option>
                        <option value="36">Belarus</option>
                        <option value="20">Belgium</option>
                        <option value="37">Belize</option>
                        <option value="25">Benin</option>
                        <option value="27">Bermuda</option>
                        <option value="33">Bhutan</option>
                        <option value="29">Bolivia</option>
                        <option value="30">Bonaire, Saint Eustatius and Saba NA</option>
                        <option value="17">Bosnia and Herzegovina</option>
                        <option value="35">Botswana</option>
                        <option value="34">Bouvet Island</option>
                        <option value="31">Brazil</option>
                        <option value="106">British Indian Ocean Territory</option>
                        <option value="240">British Virgin Islands</option>
                        <option value="28">Brunei</option>
                        <option value="22">Bulgaria</option>
                        <option value="21">Burkina Faso</option>
                        <option value="24">Burundi</option>
                        <option value="117">Cambodia</option>
                        <option value="47">Cameroon</option>
                        <option value="38">Canada</option>
                        <option value="52">Cape Verde</option>
                        <option value="125">Cayman Islands</option>
                        <option value="41">Central African Republic</option>
                        <option value="216">Chad</option>
                        <option value="46">Chile</option>
                        <option value="48">China</option>
                        <option value="54">Christmas Island</option>
                        <option value="39">Cocos Islands</option>
                        <option value="49">Colombia</option>
                        <option value="119">Comoros</option>
                        <option value="45">Cook Islands</option>
                    </optgroup>
                </select>
            </fieldset>
            <div class="widget-sub-heading">
                <h3>Tiers</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-form">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Length (mm)</th>
                            <th>Weight (g)</th>
                            <th>Thickness (mm)</th>
                            <th class="align-center">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>0.0 - 100.0</td>
                            <td>0.0 - 300.0</td>
                            <td>0.0 - 50.0</td>
                            <td class="align-center"><input type="checkbox" id="shipping_method_tiers_1" checked="checked"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>101.0 - 200.0</td>
                            <td>301.0 - 500.0</td>
                            <td>51.0 - 100.0</td>
                            <td class="align-center"><input type="checkbox" id="shipping_method_tiers_2"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>201.0 - 400.0</td>
                            <td>501.0 - 700.0</td>
                            <td>101.0 - 500.0</td>
                            <td class="align-center"><input type="checkbox" id="shipping_method_tiers_3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-action">
                <input class="btn btn-blue btn-large" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <div class="fourcol last"></div>
</div>