<div class="row">
    <div class="alert alert-success">
        <i class="icon-checkmark-circle"></i>
        This is a successful notice for an action.
    </div>
    <div class="twelvecol last">
        <div class="page-header">
            <a class="btn btn-blue btn-large" href="shipping-form.html" data-toggle="tooltip" data-placement="bottom" title="Add shipping">
                <i class="icon-plus"></i>
            </a> 
            <a class="btn btn-blue btn-large" href="tier-index.html" data-toggle="tooltip" data-placement="bottom" title="Tiers">
                <i class="icon-bars-2"></i>
            </a>  
            <h2 class="widget widget-header">Shipping methods</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Countries</th>
                        <th>Tier</th>
                        <th>Net price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Royal mail 1st class</td>
                        <td>Quick and reliable postal service.</td>
                        <td>
                            <ul>
                                <li>United Kingdom</li>
                                <li>Spain</li>
                            </ul>
                        </td>
                        <td>1,2</td>
                        <td>£9.50</td>
                        <td>
                            <a href="#" class="">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="#" class="">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>