<div class="row">

    <ol id="breadcrumbs">
        <li>
            <a href="product-index.html">Products</a>
        </li>
        <li class="current">
            Stock management
        </li>
    </ol>

    <div class="twelvecol">
        <div class="page-header">
            <h2 class="widget widget-header">Stock management</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="main-table">
                    <tr>
                        <th>SKU</th>
                        <th>Name</th>
                        <th>Variant</th>
                        <th>Stock</th>
                        <th>Stock warning level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            TRAD-100
                        </td>
                        <td>
                            Your first product
                        </td>
                        <td>
                            100g
                        </td>
                        <td>
                            50
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            <a href="stock-management-show.html">
                              <i class="icon-search"></i>
                            </a>            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            TRAD-500
                        </td>
                        <td>
                            Your first product
                        </td>
                        <td>
                            500g
                        </td>
                        <td>
                            75
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            <a href="stock-management-show.html">
                              <i class="icon-search"></i>
                          </a>            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>