<div class="row">

    <ol id="breadcrumbs">
        <li>
            <a href="product-index.html">Products</a>
        </li>
        <li>
            <a href="stock-management-index.html">Stock management</a>
        </li>
        <li class="current">
            TRAD-500
        </li>
    </ol>

    <div class="twelvecol">
        <div class="page-header">
            <a id="add-stock-adjustment-button" class="btn btn-blue btn-large" data-placement="bottom" data-toggle="tooltip" title="" data-remote="true" href="/admin/products/your-first-product/skus/2/stock_adjustments/new" data-original-title="Add stock adjustment">
                <i class="icon-plus"></i>
            </a>    
            <h2 class="widget widget-header">TRAD-500 stock history</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="stock-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="fifty">Description</th>
                        <th>Adjustment</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>03/03/2016 at 12:23PM</td>
                        <td class="fifty">iwbhdnqldw</td>
                        <td>25</td>
                        <td class="align-left td-green">100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="stock-adjustment-modal"></div>
</div>  