<div class="row">

    <ol id="breadcrumbs">
        <li>
            <a href="product-index.html">Products</a>
        </li>
        <li>
            <a href="stock-management-index.html">Stock management</a>
        </li>
        <li class="current">
            TRAD-500
        </li>
    </ol>

    <div class="twelvecol">
        <div class="page-header">
            <a id="add-stock-adjustment-button" class="btn btn-blue btn-large" data-placement="bottom" data-toggle="tooltip" title="" data-remote="true" href="/admin/products/your-first-product/skus/2/stock_adjustments/new" data-original-title="Add stock adjustment">
                <i class="icon-plus"></i>
            </a>    
            <h2 class="widget widget-header">TRAD-500 stock history</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="stock-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="fifty">Description</th>
                        <th>Adjustment</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>03/03/2016 at 12:23PM</td>
                        <td class="fifty">iwbhdnqldw</td>
                        <td>25</td>
                        <td class="align-left td-green">100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="stock-adjustment-modal">
        <div aria-hidden="false" aria-labelledby="stockAdjustmentModalLabel" class="modal fade" id="stock-adjustment-form" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form role="form" class="amend-stock-adjustment" id="new_stock_adjustment" action="/admin/products/your-first-product/skus/1/stock_adjustments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
                        <div class="loading5">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                        <div class="loading-overlay"></div>
                        <div class="modal-header">
                            <h3 id="stockAdjustmentModalLabel">
                                Add stock adjustment for 
                                TRAD-100
                            </h3>
                        </div>
                        <div class="modal-body">
                            <p class="label label-green">
                                Current stock is
                                <b>60</b>
                            </p>
                            <fieldset class="widget widget-content widget-last">
                                <div class="form-group">
                                    <label for="stock_adjustment_description">Description</label>
                                    <input class="form-control" type="text" name="stock_adjustment[description]" id="stock_adjustment_description">
                                </div>
                                <div class="form-group form-last">
                                    <label for="stock_adjustment_adjustment">Adjustment</label>
                                    <input class="form-control" type="text" value="1" name="stock_adjustment[adjustment]" id="stock_adjustment_adjustment">
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
                            <input type="submit" name="commit" value="Submit" class="btn btn-blue btn-large">
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>  