<div class="row">
    <div class="alert alert-success">
        <i class="icon-checkmark-circle"></i>
        This is a successful notice for an action.
    </div>
    <div class="twelvecol last">
        <div class="page-header">
            <a class="btn btn-blue btn-large" href="zone-form.html" data-toggle="tooltip" data-placement="bottom" title="Add zone">
                <i class="icon-plus"></i>
            </a>
            <a class="btn btn-blue btn-large" href="country-index.html" data-toggle="tooltip" data-placement="bottom" title="Countries">
                <i class="icon-earth"></i>
            </a>
            <h2 class="widget widget-header">Zones</h2>
            
        </div>
        <div class="widget-sub-heading">
            <h3>EU</h3>
            <div class="pull-right">
                <a href="#">
                    <i class="icon-pencil"></i>
                </a>
                <a href="#">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-margin table-zone">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>ISO 3166-1-alpha-2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>United Kingdom</td>
                        <td>English</td>
                        <td class="align-left">EN</td>
                    </tr>
                    <tr>
                        <td>Spain</td>
                        <td>English</td>
                        <td class="align-left">ES</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="widget-sub-heading">
            <h3>SEA</h3>
            <div class="pull-right">
                <a href="#">
                    <i class="icon-pencil"></i>
                </a>
                <a href="#">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-margin table-zone">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Language</th>
                        <th>ISO 3166-1-alpha-2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>China</td>
                        <td>Chinese</td>
                        <td class="align-left">CN</td>
                    </tr>
                    <tr>
                        <td>Singapore</td>
                        <td>English</td>
                        <td class="align-left">SG</td>
                    </tr>
                    <tr>
                        <td>Vietnam</td>
                        <td>Vietnamese</td>
                        <td class="align-left">VN</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>